
export TIER_NO=1
export FILENAME=test-ocs-ci.log
export OCS_VERSION=4.15
export UI_TEST=false
export ERROR_TEST=false

# Additional config
export FILE_PATH="~/ocs-upi-kvm/scripts/"
export LOG_DIR="~/ocs-upi-kvm/scripts/rerun-logs"
export BEFORE_TEST="~/ocs-upi-kvm/scripts/before-rerun.log"
export INDIVIDUAL_TEST_SUMMARY="~/ocs-upi-kvm/scripts/individual-test-summary.log"
export OVERALL_TEST_SUMMARY="~/ocs-upi-kvm/scripts/overall-test-summary.log"
export RERUN_CONFIG="~/ocs-upi-kvm/scripts/individual-test-run/rerun.config"
export CEPH_HEALTH_SCRIPT="~/ocs-upi-kvm/scripts/individual-test-run/ceph-health.sh"

export FAILED=0
export ERROR=0
export SKIPPED=0

export PASS=0
export FAIL=0
export SKIP=0


